.container {
    background: rgb(41, 33, 0);
    overflow: hidden;
    width: 20%;
    min-width: 200px;
    padding: 10px;
    border-radius: 20px;
}

.item {
    background: rgb(255, 218, 69);
    color: black;
    padding-top: 7px;
    padding-bottom: 7px;
    margin: 3px;
    width: 100%;
    border-radius: 10px;
    font-weight: 900;
    font-size: 20px;
    border: none;
}

.item:hover {
    background: rgb(255, 234, 151);
}