.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(41, 33, 0);
}

.item {
    background: rgb(255, 218, 69);
    color: black;
}